altair==5.0.1
jupyterlab==3.6.3
ipywidgets==8.0.6
matplotlib==3.7.1
numpy==1.24.3
jupyterlab-dash==0.1.0a3
scikit-learn==1.6.1
pytest==7.3.1

tensorflow==2.15
tensorflow-metal==1.1.0
tensorflow-hub==0.16.1
tensorflow-docs
pandas==2.2.2
seaborn==0.13.2
statsmodels==0.14.2
jupyterlab==4.2.3
pydot==2.0.0